/* main color is #c0392b */
:root {
    --maincolor: #c0392b;
}

body {
    background-color: darkred;
}

#mainnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    border: 2px solid black;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;
    width: 100%;
}

nav button {
    background-color: var(--maincolor);
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    transition: background-color 0.3s;
    width: 110%;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav button:hover {
    background-color: #e74c3c;
}

nav button:focus {
    outline: none;
}

#headermain {
    padding-top: 4.35%;
}

.byeborderbottom {
    border-bottom: 0;
}

h1 {
    background-color: var(--maincolor);
    width: 70%;
    height: 25%;
    margin: 0 auto;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid black;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.image-box {
    display: grid;
    gap: 0.5rem;
    padding: 2rem 0.5rem;
    background-color: var(--maincolor);
    border: 2px solid black;
    margin-bottom: 1rem;
}

.image-box h2 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 2.5rem;
    color: white;
    margin: 0;
}

.image-columns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
}

.image-column {
    background-color: #e74c3c;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: auto;
    display: grid;
    grid-template-rows: 2fr 1fr 0.5fr;
}

.image-column img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    padding-bottom: 1rem;
}

.text-container {
    max-width: 200px;
    padding-bottom: 2rem;
}

.description {
    text-align: center;
    color: white;
    font-family: "Lora", serif;
    font-weight: 400;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    max-width: 100%;
}

.image-description {
    text-align: center;
    overflow: hidden;
    color: black;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 1rem;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

.buy-button {
    display: inline-block;
    background-color: #e74c3c;
    color: white;
    border: 2px dotted black;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: var(--maincolor);
}

.timer {
    text-align: center;
    font-weight: bold;
    color: yellow;
}

article {
    background-color: var(--maincolor);
    padding: 4rem;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid black;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.setupimggrid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
}

.setupbuygrid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    margin-bottom: 20px;
}


.bildgridkool {
    display: grid;
    grid-template-rows: 1fr 2fr 0.5fr;
    justify-content: center;
    align-items: center;
}

.setupimg {
    margin: auto;
    background-color: var(--maincolor);
    padding: 20px;
    border: 2px solid black;
}

.laggupbutton {
    display: inline-block;
    background-color: var(--maincolor);
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, border 0.25s;
}

.laggupbutton:hover {
    background-color: #e74c3c;
    border: 2px solid gold;
}

.kopbutton {
    display: inline-block;
    background-color: var(--maincolor);
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, border 0.25s;
}

.kopbutton:hover {
    background-color: #e74c3c;
    border: 2px solid gold;
}

.kopbeskrivning {
    margin-top: -120px;
    margin-bottom: 20px;
}

.kopnamn {
    margin-bottom: -50px;
    
}